<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Usuarios/Carrosel.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Sistema de Varejo</h1>
    <!-- Botão Carrinho-->
    <div class="carrinho-container">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </header>

  <!-- Carrosel Promoção-->
  <div class="carrosel">
    <div class="carrosel-imagens">
      <img src="/images/imagensteste (1).jpg" alt="imagem 4">
      <img src="/images/imagensteste (2).jpg" alt="imagem 1">
      <img src="/images/imagensteste (3).jpg" alt="imagem 2">
      <img src="/images/imagensteste (4).jpg" alt="imagem 3">
    </div>
  </div>


 <!-- Bolas específicas -->
<div class="especificos">
  <div class="especificos-container">
    <div class="especificos-item">
      <img src="/images/imagensteste (1).jpg" alt="Calcados">
      <p>Calcados</p>
    </div>
    <div class="especificos-item">
      <img src="/images/imagensteste (2).jpg" alt="Esportes">
      <p>Esportes</p>
    </div>
    <div class="especificos-item">
      <img src="/images/imagensteste (3).jpg" alt="Acessorios">
      <p>Acessorios</p>
    </div>
    <div class="especificos-item">
      <img src="/images/imagensteste (4).jpg" alt="Moda">
      <p>Moda</p>
    </div>
    <div class="especificos-item">
      <img src="/images/imagensteste (4).jpg" alt="Moda">
      <p>novidades</p>
    </div>
    <div class="especificos-item">
      <img src="/images/imagensteste (4).jpg" alt="Moda">
      <p>Beleza</p>
    </div>
  </div>
</div>


  <!-- Carrosel Catálogo-->
  <div class="carrosel2">
    <div class="carrosel2-imagens2">
      <img src="/images/imagensteste (1).jpg" alt="imagem 4">
      <img src="/images/imagensteste (2).jpg" alt="imagem 1">
      <img src="/images/imagensteste (3).jpg" alt="imagem 2">
      <img src="/images/imagensteste (4).jpg" alt="imagem 3">
    </div>
  </div>

  <script src="/javascripts/Usuarios/Carrosel.js"></script>
</body>

</html>